.main-doc {
    background-image: url("/airplane-7873308_1920.jpg");
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    height: 100vh;
}

.box-login {
    margin: 20px;
    height: 100vh;
    min-width: 450px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    border-radius: 25px;
}

.tituloLogin {
    color: white;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;;
}

h2 {
    color: white;
    font-size: 2rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logoAtech {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 200px;
}

.logoMack {
    width: 250px;
    margin-bottom: 10px;
    margin-top: 60px;
}

.loginForm {
    margin-top: 80px;
}

input {
    color: white;
}

@media screen and (max-width:720px) {
    .main-doc {
        align-content: center;
    }
    .box-login {
        margin-right: 0px;
        min-width: 380px;
    }
}